body {
    font-family: Lora,'Times New Roman',serif;
    font-size: 20px;
    color: #404040;
}

.lda_matrices table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

.lda_matrices th, .lda_matrices td {
  text-align: left;
  padding: 8px;
}

.lda_matrices tr:nth-child(even){background-color: #f2f2f2}

.ldacontainer {
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
	line-height: 20px;
	text-align: justify;
}

img {
	float:left;
	width: 370px;
	height: 165px;
	padding: 15px;
}

.lda_architecture, .lda_dataset {
	width: 100%;
}
.lda_pic {
	float: left;
	width: 35%;
	height: auto;
}
.lda_des {
	float: left;
	width: 65%;
	height: auto;
}
